In [12]:
import random
random.seed(100)
weight_loss=[random.uniform(0.5,10) for _ in range(100)]
weight_loss
import numpy as np
smean=np.mean(weight_loss)
sstd=np.std(weight_loss,ddof=1)
popn_mean=0
z_score=(smean-popn_mean)/(sstd/np.sqrt(len(weight_loss)))
z_score#calculated value

21.311866724709244

In [7]:
#critical value
alpha=0.05
from scipy.stats import norm
critical=norm.ppf(1-alpha)
critical

1.6448536269514722

In [13]:
#anova
import pandas as pd
import numpy as np
df=pd.DataFrame({'Score':[12,12,56,65,45,34,43,87,81],
             'School':[1,1,1,2,2,2,3,3,3]})
df

   Score  School
0     12       1
1     12       1
2     56       1
3     65       2
4     45       2
5     34       2
6     43       3
7     87       3
8     81       3

In [16]:
groups=[df['Score'][df['School']==school] for school in df['School'].unique()]
from scipy.stats import f_oneway
f_stats,pval=f_oneway(*groups)
f_stats

2.9356898517673886